.ant-form-item-explain-error {
    margin-left: 11% !important;
}

th.ant-table-cell {
    background-color: rgb(202, 202, 202) !important;
}

td.ant-table-cell {
    background-color: rgb(237, 229, 229) !important;
}


